
.md-block {
    width: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin-top: 10%
}

.md-button {
    width: 10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

md-list{
    min-width: 500px !important;
    padding-left: 30px;
}

.year-row{
    min-width: 500px;
}

md-toolbar{
    background-color: #C99700 !important;
}