.md-block {
    width: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin-top: 10%
}

.md-button {
    width: 10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

md-list {

    min-width: 500px !important;

}

md-list-item {
    box-shadow: 0px 1px #88888888;
    padding-bottom: 20px;
    padding-top: 0px;
}


md-toolbar {
    background-color: #C99700 !important;
}