<app-nav></app-nav>
<div class="course-map">
    <md-content layout-padding>
        <div ng-show="$ctrl.classWarning" class="warning-text">
            One or more classes need adjusting to satisfy prerequisite requirements. 
        </div>
        <!-- Grid List to Keep even layout -->
        <md-grid-list  md-cols-sm="1" md-cols-md="1" md-cols-lg="2" md-cols-gt-lg="3" md-cols=1 md-row-height-md="1:1" md-row-height="1.2:1"
            md-gutter-gt-md="16px" md-gutter-md="8px" md-gutter="4px">
            <!-- Each Tile holds a list of semester courses -->
            <!-- stateful component -->
            <md-grid-tile ng-repeat="semester in $ctrl.models.semesters">
                <!-- ui-sortable allows drag drop sorting of 
                    arrays courseMap is the drag drop group -->
                    <!-- stateless component -->
                <md-list ui-sortable="$ctrl.courseMap" class="course-list" ng-model="semester">
                    <md-subheader class="md-no-sticky">Semester {{$index+1}}</md-subheader>
                    <!-- repeats each class in a semester -->
                    <md-list-item ng-repeat="item in semester" class="md-2-line course">
                        <div class="md-list-item-text">
                            {{item}}
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                    <!-- display the running total of credits for each semester-->
                    <p>Credits: {{$ctrl.models.creditTotal[$index]}}</p>
                    <md-button ng-href="#!/semesters/addclass">Add Class</md-button>
                    <div ui-view></div>
                </md-list>
            </md-grid-tile>
        </md-grid-list>
    </md-content>
</div>