<!-- stateful component -->
  <md-input-container class="md-block-addclass" flex-gt-sm>
      <h1 class="additional-options">Additional Class Options</h1> 
    <!-- stateless component -->
    <md-list-item ng-repeat="course in $ctrl.allClasses" value="{{course.attributes.courseName}}" class="secondary-button-padding-class addClass-items">
      <p>{{course.attributes.courseId}}: {{course.attributes.courseName}} ({{course.attributes.credits}} credits)</p>
      <md-button class="md-secondary" ng-click="$ctrl.addCourseToSemester($event, course.attributes.courseName)" href="#/semesters">add class</md-button>
    </md-list-item>
  </md-input-container>
