<div class="course-map" ng-app="app" ng-controller="second">
    <md-content layout-padding>
        <!-- Grid List to Keep even layout -->
        <md-grid-list  md-cols-sm="1" md-cols-md="1" md-cols-lg="2" md-cols-gt-lg="3" md-cols=1 md-row-height-md="3:1" md-row-height="2:1"
            md-gutter-gt-md="16px" md-gutter-md="8px" md-gutter="4px">
            <!-- Each Tile holds a list of semester courses -->
            <md-grid-tile ng-repeat="semester in models.semesters">
                <!-- ui-sortable allows drag drop sorting of 
                    arrays courseMap is the drag drop group -->
                <md-list ui-sortable="courseMap" class="course-list" ng-model="semester">
                    <md-subheader class="md-no-sticky">Semester {{$index+1}}</md-subheader>
                    <!-- repeats each class in a semester -->
                    <md-list-item ng-repeat="item in semester" class="md-2-line course">
                        <div class="md-list-item-text">
                            {{item}}
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </md-grid-tile>
        </md-grid-list>
    </md-content>
</div>