<div layout="row" layout-sm="column" layout-align="space-around center" ng-repeat="year in years">
    <div ng-repeat="semester in year" class="year-row">
        <md-list flex ng-app="app" ng-controller="second">
            <md-subheader class="md-no-sticky">Semester {{semester}}</md-subheader>
            <div layout="row" flex="" style="padding-bottom: 20px;">
                <p flex="50">Total Credits</p>
                <p flex="50">#</p>
            </div>

            <md-list-item class="md-2-line" ng-repeat="detail in classes" ng-click="null">
                <div class="md-list-item-text" layout="column">
                    <h3>{{ detail.name}}</h3>
                    <h4>{{ detail.taken }}</h4>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </div>
</div>
